body {
  margin: 0 auto;
  width: 100%;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 22px 25px;
}

#arrowH {
  margin-right: 40px;
}

.header-div {
  color: rgb(157, 163, 174);;
}

.header-div ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.header-div ul li {
  position: relative;
  transition: all 0.2s ease-in;
  cursor: pointer;
  color: rgb(157, 163, 174);
}

.header-div ul li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1.6px;
  background-color: rgb(157, 163, 174);;
  transition: width 0.5s ease-in-out, font-weight 0.5s ease-in-out;
}

.header-div ul li:hover::before {
  width: 100%;
}

.header-div ul li:hover {
  font-weight: 450;
}

.edit-publish {
  display: flex;
  gap: 10px;
  color: #9DA3AE;
}

.middle {
  color: #9DA3AE;
}

.edit-publish .edit {
  display: flex;
  gap: 10px;
  align-items: center;
}

.edit-publish select {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  color: #3565a9;
}

/* bar */
.bar {
  padding: 0 1rem;
}

.search {
  display: flex;
  align-items: center;
  min-width: 22rem;
  max-width: 75rem;
  cursor: pointer;
  border: 0.125rem solid rgb(229, 231, 235);
  box-shadow: 9px 5px 99px -26px rgba(0, 0, 0, 0.54);
  gap: 8px;
  padding: 0.5rem 0.75rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.bar .search:hover {
  border: 0.125rem solid rgba(157, 163, 174, 0.598);
  transition: all 0.2s ease-in-out;
}

.P {
  padding: 5px 10px;
  color: rgb(52, 118, 89);
  background: rgb(217, 249, 230);
  font-weight: 600;
  border-radius: 5px;
}

.middle {
  color: rgb(229, 231, 235);
}

.time {
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgb(157, 163, 174);
}

.lapin {
  width: 23px;
  height: 23px;
}

.count {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(157, 163, 174);
}

.input-s {
  border: none;
  outline: none;
  min-width: 6rem;
  flex-grow: 1;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.div-button {
  display: flex;
  gap: 10px;
}

.div-button button {
  all: unset;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 5px;
}

.button:hover {
  transform: scale(1.1);
}

.App h1 {
  margin: 2rem 0 0 0;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
}

.welcome {
  padding: 0 1rem 0.25rem 0.5rem;
  margin: 2rem 0;
  color: rgba(0, 0, 0, 0.726);
}

.Code {
  background: #f2f2f2;
  padding: 0.125rem;
  border-radius: 0.125rem;
  font-family: monospace;
}

.Emoji {
  padding-right: 0.5rem;
}

.Input {
  margin: 0.25rem 0;
  padding: 0.5rem;
}

.Input:hover {
  background: #fafafa;
  outline-color: #f5f6fb;
}

.Input:focus {
  outline: none;
  background: #f5f6fb;
}

[contenteditable=true]:empty::before {
  content: attr(placeholder);
  pointer-events: none;
  color: rgba(0, 0, 0, 0.349);
}

.SelectMenu {
  position: absolute;
  width: 15rem;
  height: 15rem;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Items {
  background: #fafafa;
  box-shadow:
    rgba(15, 15, 15, 0.05) 0 0 0 1px,
    rgba(15, 15, 15, 0.1) 0 3px 6px,
    rgba(15, 15, 15, 0.2) 0 9px 24px;
  border-radius: 0.1rem;
  height: 12rem;
}

.Items  div[role="button"] {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #f5f6fb;
}

.Items  div[role="button"]:last-of-type {
  border-bottom: none;
}

.Items div[role="button"]:hover {
  background: #c9c9c9;
  cursor: pointer;
}

.Items div[role="button"]:hover,
  div[role="button"]:focus {
    background: #dbdbdb;
    cursor: pointer;
  }

.Selected {
  background: #f5f6fb;
  border-radius: 0.5rem;
}
